
.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.meal_entry{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}

.button{
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
.button:hover {
    opacity: 0.8;
}
.label{
    margin-bottom: 15px;
    font-size: 1.2rem;

}