.nav {
    height: 4rem;
    padding: 20px;
    background-color: #eaeaea;
    color: #232323;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav ul li a {
    margin: 5px 15px;
}